.schedule-wrapper {
  width: min(120ch, 100% - 4rem);
  margin-inline: auto;
  margin-block: 4rem;
}

.schedule-outer {
  display: grid;
  padding-block-start: 1.5em;

  h3 {
    border-block-start: black solid 0.1em;
    width: fit-content;
    padding-inline: 1.5em;
    padding-block: 0.5em;
    margin-block-start: 1em;
  }
}

.schedule-inline {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(min-content, 20rem);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 2.5rem;
}

.schedule-block {
  display: grid;
  margin-inline-start: 3rem;
  gap: 2rem;
}

.schedule-inline,
.schedule-block {
  padding-block: 1.5em;
  padding-inline: 1.5em;
}

.schedule-item {
  display: grid;
  gap: 0.5rem;
  align-content: start;
  border-inline-start: black solid 0.1em;
  padding-inline-start: 1em;

  .bus p {
    font-size: 0.8rem;
  }
}

.performance > p:first-child {
  color: #cc6648;
}

.more-more-more > p:first-child {
  color: #3d5291;
}

.ice-spice > p:first-child {
  color: color-mix(#cc6648, #3d5291);
}

.seminar-workshop > p:first-child {
  color: #2f9176;
}

.days {
  display: grid;
  grid-auto-flow: column;
  gap: 1.5em;
  margin-inline: auto;
  margin-block-start: 3.5rem;
}

.front-page-sections {
  width: min(120ch, 100% - 4rem);
  margin-inline: auto 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
